@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  color: #354358;
  background-color: black;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to right bottom, #8ceeaf, #60a5fa);
}
::-webkit-scrollbar{
  width: 8px;
  height: 0px;
}